
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline:none;
}
body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-top-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:var(--white-light);
}
img {
    vertical-align: middle;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style:none;
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 700;
    color:var(--white);
}
h2 {
    font-weight: 600;
    color:var(--white);
}
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color:var(--white);
}
p {
    font-size: 16px;
}
section {
    overflow: hidden;
}
.container {
    max-width: 1170px;
    margin: auto;
    overflow-x: hidden;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.min-vh-100 {
    min-height: 100vh;
   
}
.sec-padding {
    padding: 80px 0;
}

// Section Title
.section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    font-size: 35px;
    text-transform: capitalize;
}
.section-title h2::before {
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color:var(--main-color);
    font-family: var(--cursive);
    font-weight: 400;
    text-transform: capitalize;
}

//////////////////////////////////////// Buttons
.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    color:var(--main-color);
    line-height: 1.5;
    user-select: none;
}
.btn-default {
    border: 2px solid var(--main-color);
}
.btn-default:hover {
    color:var(--white);
    background-color: var(--main-color);
}
///////////////////////////// animation keyframes
@keyframes zoomInOut {
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
}
@keyframes spin01 {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes pageLoader {
    0%,100% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
}
///////////////////////////// Page Loader
.page-loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    // background-color: var(--dark);
    background-image: url(../img/section-bg.jpg);
    z-index: 999;
    transition: all 0.6s ease;
}
.page-loader.fade-out {
    opacity: 0;
}
.page-loader::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: var(--main-color);
    left: calc(50% - 50px);
    top:calc(50% - 2px);
    animation: pageLoader 1s linear infinite;
}
