@media (max-width: 991px) {
    .feed-item {
        width: calc(50% - 30px);
    }
    .team-item {
        width: 50%;
    }
    .team-item:not(:last-child) {
        margin-bottom: 75px;
    }
}
@media (max-width: 767px) {
    .home-text h1 {
        font-size: 50px;
        line-height: 65px;
    }
    .menu-item,
    .about-text,
    .about-img {
        width: 100%;
    }
    .menu-item:nth-last-of-type(2) {
        border-bottom: 2px dashed var(--dark-light);
    }
    .about-img {
        margin-top: 40px;
    }
    .feed-item {
        width: calc(100% - 30px);
    }
    .about-text h3 {
        font-size: 24px;
    }
    .footer-item {
        width: 100%;
    }
    .footer-item:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .team-item {
        width: 100%;
    }
}