:root {
    --main-color: #e6a432;
    --dark: #0c1023;
    --dark-light: #191f3a;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rbga(0,0,0,0.25);
    --cursive: 'Pinyon Script', cursive;
    scroll-behavior: smooth;
}
